<footer>
    <div class="contact">
        <h3>Contacto</h3>
        <div class="socials">
            <a href="javascript:;" class="social">
                <i class="bi bi-envelope-check-fill"></i>
                <br>
                <small>cafeuta@gmail.com</small>
            </a>
            <a href="javascript:;" class="social">
                <i class="bi bi-facebook"></i>
                <br>
                <small href="#">cafeUta</small>
            </a>
        </div>
    </div>
    <p><i class="bi bi-c-circle"></i>&nbsp;Webpage - Universidad Tecnologica Aguascalientes</p>
</footer>