<nav class="navbar fixed-top" style="background-color: #222222;">
    <div class="container-fluid">
        <a class="navbar-brand" href="/"> <img src="assets/images/icon-big.jpg" alt="icon-webstore" height="30"
                style="border-radius: 50%;">&nbsp;<strong style="color: #fff;">Cafe-UTA</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
            aria-controls="offcanvasDarkNavbar">
            <i class="bi bi-list"></i>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
            aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu &nbsp;                    
                    <%if (userSession) { %>
                       <span style="font-size: 10pt;"><img width="25px" src="<%= userSession.imageUrl %>">&nbsp;<%= userSession.completeName %></span>
                    <% } %> 
                </h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link" href="/"><i class="bi bi-house-fill"></i>&nbsp;Menú principal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shoppingCart"><i class="bi bi-cart4"></i>&nbsp;Mis compras</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/products"><i
                                class="bi bi-basket"></i>&nbsp;Productos</a>
                    </li>
                    <% if (userSession && userSession.role == 'Administrador') { %>
                        <li class="nav-item">
                            <a class="nav-link" aria-current="page" href="/users"><i class="bi bi-people-fill"></i>&nbsp;Usuarios</a>
                        </li>
                    <% } %> 
                    <% if (userSession && (userSession.role == 'Administrador' || userSession.role == 'Empleado')) { %>
                        <li class="nav-item">
                                <li><a class="dropdown-item" href="/graficas"><i class="bi bi-cash-coin"></i>&nbsp;Control de ventas</a></li>
                        </li>
                    <% } %> 
                    <% if (!userSession) { %>
                        <li class="nan-item row-items">
                            <a class="nav-link" id="nose" href="/signIn"><i class="bi bi-box-arrow-in-right"></i>Inicio de sesión</a>
                        </li>
                     <% } else { %>
                        <li class="nan-item">
                            <a href="javascript:;" id="btnCloseSession" class="nav-link" data-bs-toggle="modal"
                                data-bs-target="#smallAlert"><i class="bi bi-box-arrow-in-left"></i>&nbsp;Salir</a>
                        </li>
                    <% } %>  
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>


<div class="modal fade" id="smallAlert" tabindex="-1" aria-labelledby="smallAlertLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer"></div>
        </div>
    </div>
</div>

<div class="modal fade" id="largeModal" data-bs-backdrop="static" tabindex="-1" aria-labelledby="largeModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel"></h1>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body"></div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal"></button>
                <button type="button" class="btn btn-primary" id="btnActionModalLarge"></button>
            </div>
        </div>
    </div>
</div>