<nav class="navbar fixed-top" style="background-color: #3c59a1;"> 
    <div class="container-fluid">
        <a class="navbar-brand" href="/"> <img src="https://pbs.twimg.com/profile_images/1522650069501100033/-pIuFcbA_400x400.jpg" alt="icon-webstore"
                width="25" style="border-radius: 25px;">&nbsp;<strong style="color: #fff;">ScanFood</strong></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasDarkNavbar"
            aria-controls="offcanvasDarkNavbar">
            <i class="bi bi-list"></i>
        </button>
        <div class="offcanvas offcanvas-end text-bg-dark" tabindex="-1" id="offcanvasDarkNavbar"
            aria-labelledby="offcanvasDarkNavbarLabel">
            <div class="offcanvas-header">
                <h5 class="offcanvas-title" id="offcanvasDarkNavbarLabel">Menu</h5>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="offcanvas"
                    aria-label="Close"></button>
            </div>
            <div class="offcanvas-body" style="background-color: #a4aaaf;">
                <ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
                    <li class="nav-item">
                        <a class="nav-link" href="/"><i class="bi bi-house-fill"></i>&nbsp;Menú principal</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/shoppingCart"><i class="bi bi-cart4"></i>&nbsp;Mis compras</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" aria-current="page" href="/products"><i class="bi bi-basket"></i>&nbsp;Productos</a>
                    </li>
                    <!-- <li class="nav-item">
                        <a class="nav-link" href="/users"><i class="bi bi-people-fill"></i>&nbsp;Users</a>
                    </li> -->
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            Punto de venta
                        </a>
                        <ul class="dropdown-menu dropdown-menu-dark">
                          <li><a class="dropdown-item" href="/graficas">Control de ventas</a></li>
                          <li><a class="dropdown-item" href="#">Estados de ventas</a></li>
                          <li><a class="dropdown-item" href="#">Equilibrio del negocio</a></li>
                        </ul>
                      </li>
                    <li class="nan-item row-items">
                        <a class="nav-link" id="nose" href="/signIn"><i class="bi bi-box-arrow-in-right"></i>Inicio de sesión</a>
                    </li> 
                    </li>
                    <li class="nan-item">
                        <a href="#" class="nav-link"><i class="bi bi-box-arrow-in-left"></i>&nbsp;Salir</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</nav>