<!doctype html>
<html lang="en">

<head>
  <title>Web Store | Categories</title>
  <%- include('./partials/head') %>
</head>

<body>
  <%- include('./partials/nav-bar') %>

    <div class="render-content">
      <h1>Categories</h1>
    </div>
    <script type="text/javascript">
      var isViewLogin = false
  </script>
</body>

</html>