<!doctype html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
</head>

<body>
  <%- include('./partials/nav-bar') %>

    <div class="render-content" style="text-align: center;">
      <h1>Graficas</h1>
    </div>
    <div class="row">

      <div class="input-group" style="width: 300px;">
        <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
          <option selected>Eligir mes...</option>
          <option value="1">Enero</option>
          <option value="2">Febrero</option>
          <option value="3">Marzo</option>
        </select>
      </div>
      <div class="input-group" style="width: 300px;">
        <select class="form-select" id="inputGroupSelect04" aria-label="Example select with button addon">
          <option selected>Año...</option>
          <option value="1">2021</option>
          <option value="2">2022</option>
          <option value="3">2023</option>
        </select>
        
      </div>
      <div class="col-2">
        <button class="btn btn-outline-primary">Buscar</button>
      </div>
      
    </div>
    <div class ="stats_box" style="width: 500px; margin-top: 100px; margin-left: 50px;">
      <canvas id="myChart" height="200"  ></canvas>
    </div>


    <%- include('./partials/footer') %>
</body>

</html>