<!doctype html>
<html lang="en">

<head>
  <%- include('./partials/head') %>
    <link rel="stylesheet" href="assets/css/productsList.css">
</head>

<body>
  <%- include('./partials/nav-bar') %>

    <div class="render-content">
      <div class="container">
        <div class="panel panel-inverse">
          <div class="panel-heading">
            <h4 class="panel-title">Listado de productos cargados</h4>
          </div>
          <div class="panel-body">
            <button class="btn btn-info"><i class="bi bi-plus-square-fill"></i></button>
            <table class="dataTable hover table table-striped table-bordered" id="tableProductsManage">
              <thead>
                <tr>
                  <th>Nombre</th>
                  <th>Imagen</th>
                  <th>Stock</th>
                  <th>Precio p/ud</th>
                  <th>Categoría</th>
                  <th>Estatus</th>
                  <th>Acciones</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                </tr>
                <tr>
                  <th scope="row">1</th>
                  <td>Mark</td>
                  <td>Otto</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                  <td>@mdo</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>

        <div class="search-content">
          <div class="input-group mb-3">
            <input type="text" class="form-control" placeholder="Find a product..." aria-label="Find a product..."
              aria-describedby="button-addon2">
            <button class="btn btn-dark" type="button" id="button-addon2"><i class="bi bi-search"></i></button>
          </div>
        </div>
        <div class="products-list-content">
          <div class="row">
            <div class='contenedorCard'>

              
            </div>
          </div>
        </div>
      </div>
    </div>

    <%- include('./partials/footer') %>
      <script src="assets/js/scriptsProducts.js"></script>
</body>

</html>