<!doctype html>
<html lang="en">

<head>
  <title>Web Store | shpping cart</title>
  <%- include('./partials/head') %>
</head>

<body>
  <%- include('./partials/nav-bar') %>

    <div class="render-content">
      <div class="container">
        <div class="content-shop-cart">
          <h2>Your purchase is almost ready</h2>
          <p>Now you will see the list of the products you are about to buy. To continue with the purchase, click on the
            button(complete) to finalize the purchase or button(cancel) to remove the list of products from your cart.
          </p>
          <div class="row">
            <div class="col">
              <div class="card h-100">
                <img src="https://res.cloudinary.com/walmart-labs/image/upload/d_default.jpg/w_960,dpr_auto,f_auto,q_auto:best/gr/images/product-images/img_large/00750105534942L1.jpg" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-title">Coca-cola</p>
                  <small class="card-text">$20</small>
                </div>
                <button class="btn btn-outline-danger" title="Remove from the cart"><i class="bi bi-trash3-fill"></i></button>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="https://res.cloudinary.com/walmart-labs/image/upload/d_default.jpg/w_960,dpr_auto,f_auto,q_auto:best/gr/images/product-images/img_large/00750103130725L.jpg?odnHeight=612&odnWidth=612&odnBg=FFFFFF" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-title">Jumex fresh</p>
                  <small class="card-text">$15</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="https://res.cloudinary.com/walmart-labs/image/upload/d_default.jpg/w_960,dpr_auto,f_auto,q_auto:best/gr/images/product-images/img_large/00000007500179L.jpg?odnHeight=612&odnWidth=612&odnBg=FFFFFF" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-title">Boing Manzana</p>
                  <small class="card-text">$20</small>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card h-100">
                <img src="https://res.cloudinary.com/walmart-labs/image/upload/d_default.jpg/w_960,dpr_auto,f_auto,q_auto:best/gr/images/product-images/img_large/00750101113392L.jpg?odnHeight=612&odnWidth=612&odnBg=FFFFFF" class="card-img-top" alt="...">
                <div class="card-body">
                  <p class="card-title">Sabritas</p>
                  <small class="card-text">$18</small>
                </div>
              </div>
            </div>
          </div>
          <div class="info-shop-cart">
            <p class="total-cost"><i class="bi bi-cash-stack"></i>&nbsp;Total: $73</p>
            <p class="discount"><i class="bi bi-tags-fill"></i>&nbsp;Discount: 0%</p>
            <small><i class="bi bi-calendar-check"></i>&nbsp;You have <strong>24 hours</strong></small>
          </div>
          <div class="shop-cart-footer">
            <button class="btn btn-cancel"><i class="bi bi-x-lg"></i>&nbsp;Cancel</button>
            <button class="btn btn-primary"><i class="bi bi-check-circle"></i>&nbsp;Complete</button>
          </div>
        </div>
      </div>
    </div>

    <%- include('./partials/scripts') %>
</body>

</html>