<!doctype html>
<html lang="en">

<head>
    <title>Sign in</title>
    <%- include('./partials/head') %>
</head>



<body>
    <style>
        .loader {
            width: 100px;
            height: 100px;
            display: block;
            margin: auto;
            position: relative;
            background: #222;
            border-radius: 50%;
            box-sizing: border-box;
            transform-origin: 170px 50px;
            border: 4px solid #333;
            box-shadow: 3px 4px #0003 inset, 0 0 6px #0002 inset;
            animation: panmov 0.4s ease-in-out infinite alternate;
        }

        .loader::before {
            content: '';
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%) skew(-15deg, 15deg) rotate(-15deg);
            width: 55px;
            height: 53px;
            background: #fff;
            background-image:
                radial-gradient(circle 3px, #fff6 90%, transparent 10%),
                radial-gradient(circle 12px, #ffc400 90%, transparent 10%),
                radial-gradient(circle 12px, #ffae00 100%, transparent 0);
            background-repeat: no-repeat;
            background-position: -4px -6px, -2px -2px, -1px -1px;
            box-shadow: -2px -3px #0002 inset, 0 0 4px #0003 inset;
            border-radius: 47% 36% 50% 50% / 49% 45% 42% 44%;
            animation: ylmov 0.6s ease-in-out infinite alternate;
        }

        .loader::after {
            content: '';
            position: absolute;
            left: 100%;
            top: 48px;
            height: 15px;
            width: 70px;
            background: #222222;
            border-radius: 0 8px 8px 0;
            box-shadow: 3px 0 3px #eee2 inset;
            transform: rotate(5deg) translateX(3px);
        }

        @keyframes panmov {

            0%,
            10% {
                transform: rotate(5deg)
            }

            90%,
            100% {
                transform: rotate(-5deg)
            }
        }

        @keyframes ylmov {
            to {
                border-radius: 50% 36% 50% 50% / 49% 50% 45% 45%;
                background-position: -2px -4px, 2px 2px, 1px 1px;
            }
        }
    </style>
    <%- include('./partials/nav-bar') %>

        <main>
            <div id="loaderSpinner" style="display: none;">
                <span class="loader"></span>
                <h4 class="text-center" style="font-weight: 300; color: #2d2d2d;text-shadow: 0 1px 1px #00000013 inset, 0 0 8px #22222299;">Tus huevos se estan cocinando...</h4>
            </div>
            <div class="contenedor__todo" id="containerAuthForms">
                <div class="caja__trasera">
                    <div class="caja__trasera-login">
                        <h3>¿Ya tienes cuenta?</h3>
                        <p>Inicia sesión para entrar a la página</p>
                        <button id="btn__iniciar-sesion">Iniciar sesión</button>
                    </div>

                    <div class="caja__trasera-register">
                        <h3>¿Aún no tienes cuenta?</h3>
                        <p>Registrate para que puedas iniciar sesión</p>
                        <button id="btn__registrarse">Registrarse</button>
                    </div>
                </div>
                <div class="contenedor__login-register">
                    <form id="formSignIn" class="formulario__login">
                        <h2>Iniciar sesión</h2>
                        <div class="mb-3">
                            <label for="idOrEmail" class="form-label"
                                style="margin-bottom: 0;font-size: 12px; color: #2d2d2d;">Matrícula o correo
                                electrónico:</label>
                            <input type="text" id="idOrEmail" name="idOrEmail" placeholder="Matricula o correo"
                                style="margin-top: 0;">
                        </div>
                        <div class="mb-3">
                            <label for="idOrEmail" class="form-label"
                                style="margin-bottom: 0;font-size: 12px; color: #2d2d2d;">Contraseña:</label>
                            <input type="password" id="password" name="password" placeholder="Contraseña"
                                style="margin-top: 0;">
                        </div>
                        <button type="button" id="btnSignIn">Entrar</button>
                    </form>

                    <form id="formSignUp" class="formulario__register">
                        <h2>Registrate</h2>
                        <input id="name" name="name" type="text" placeholder="Nombre completo">
                        <input id="email" name="email" type="text" placeholder="Correo electrónico">
                        <input id="matricula" name="matricula" type="text" placeholder="Matricula">
                        <input id="newPassword" name="newPassword" type="password" placeholder="Contraseña">
                        <button type="button" id="btnSignUp">Registrarse</button>
                    </form>
                </div>
            </div>
        </main>

        <script type="text/javascript">
            var isViewLogin = true
        </script>
        <%- include('./partials/scripts') %>
            <script type="text/javascript" src="assets/js/scriptAuth.js"></script>
</body>

</html>