<!doctype html>
<html lang="en">

<head>
    <%- include('./partials/head') %>
    <link rel="stylesheet" href="assets/css/signInUp.css">
</head>



<body>
    <%- include('./partials/nav-bar') %>

        <main>
            <div id="loaderSpinner" style="display: none;">
                <span class="loader"></span>
                <h4 class="text-center" style="font-weight: 300; color: #2d2d2d;text-shadow: 0 1px 1px #00000013 inset, 0 0 8px #22222299;">Tus huevos se estan cocinando...</h4>
            </div>

            <div class="contenedor__todo" id="containerAuthForms">
                <div class="caja__trasera">
                    <div class="caja__trasera-login">
                        <h3>¿Ya tienes cuenta?</h3>
                        <p>Inicia sesión con tu correo o matricula</p>
                        <button class="change-form-box" id="btn__iniciar-sesion">Iniciar sesión</button>
                    </div>

                    <div class="caja__trasera-register">
                        <h3>¿Aún no tienes cuenta?</h3>
                        <p>Registrate para que puedas ingresar</p>
                        <button id="btn__registrarse">Registrarse</button>
                    </div>
                </div>
                <div class="contenedor__login-register">
                    <form id="formSignIn" class="formulario__login">
                        <h2><i class="bi bi-box-arrow-in-right"></i>&nbsp;Iniciar sesión</h2>
                        <div class="mb-3">
                            <label for="idOrEmail" class="form-label">Matrícula o correo electrónico:</label>
                            <input type="text" id="idOrEmail" name="idOrEmail" placeholder="Matricula o correo" required>
                        </div>
                        <div class="mb-3 show-hide-password-father input-password-signin">
                            <label for="idOrEmail" class="form-label">Contraseña:</label>
                            <input type="password" id="password" name="password" placeholder="Contraseña" style="margin-top: 0;" required>
                            <button type="button" class="show-hide-password"><i class="bi bi-eye-slash-fill"></i></button>
                        </div>
                        <button type="button" id="btnSignIn" disabled>Entrar</button>
                    </form>

                    <form id="formSignUp" class="formulario__register">
                        <h2><i class="bi bi-person-badge"></i>&nbsp;Registrate</h2>
                        <div class="mb-3">
                            <label for="name" class="form-label">Nombre completo:</label>
                            <input id="name" name="name" type="text" placeholder="Nombre completo">
                        </div>
                        <div class="mb-3">
                            <label for="email" class="form-label">Correo electrónico:</label>
                            <input id="email" name="email" type="text" placeholder="Correo electrónico">
                        </div>
                        <div class="mb-3">
                            <label for="matricula" class="form-label">Matricula:</label>
                            <input id="matricula" name="matricula" type="text" placeholder="Matricula">
                        </div>
                        <div class="mb-3 show-hide-password-father input-password-signup">
                            <label for="newPassword" class="form-label">Contraseña:</label>
                            <input id="newPassword" name="newPassword" type="password" placeholder="Contraseña">
                            <button type="button" class="show-hide-password"><i class="bi bi-eye-slash-fill"></i></button>
                        </div>
                        <button type="button" id="btnSignUp" disabled>Registrarse</button>
                    </form>
                </div>
            </div>
        </main>

        <div class="copyright">
            <p><i class="bi bi-c-circle"></i>&nbsp;Dev team IG.BG.YM.OP</p>
        </div>

        <%- include('./partials/scripts') %>
        <script type="text/javascript" src="assets/js/scriptsAuth.js"></script>
</body>

</html>