<!doctype html>
<html lang="en">
  <head>
    <title>Users admin</title>
    <%- include('./partials/head') %> 
  </head>
  <body>
    <%- include('./partials/nav-bar') %>
    
    <div class="render-content">
      <h1>Users manage</h1>
    </div>


    <script type="text/javascript">
      var isViewLogin = false
  </script>
    <%- include('./partials/scripts') %> 
  </body>
</html>