.modal .modal-dialog .modal-content {
  border-radius: 5px;
  text-align: center;
}

.modal .modal-dialog .modal-content .modal-header {
  background-color: #222222;
  color: #fff;
  padding: 5px 15px 5px 15px;
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}

.modal .modal-dialog .modal-content .modal-body .row {
  align-items: center;
}

.modal .modal-dialog .modal-content .modal-body .row .col {
  text-align: left;
  margin-bottom: 5px;
}

.modal .modal-dialog .modal-content .modal-body .row .col label {
  margin-bottom: 0;
  font-size: 13px;
  font-weight: 500;
}

.modal .modal-dialog .modal-content .modal-body .row .col input {
  margin-top: 0;
}


.modal .modal-dialog .modal-content .modal-footer {
  border: none;
  padding: 5px 15px 5px 15px;
}


.modal .modal-dialog .modal-content .modal-footer button {
  padding: 5px;
  color: #444444dc;
  border: none;
}

.modal .modal-dialog .modal-content .modal-footer .btn-secondary {
  background-color: #1f1f1f0a;
}

.modal .modal-dialog .modal-content .modal-footer .btn-secondary:hover {
  background-color: #1f1f1f44;
}

.modal .modal-dialog .modal-content .modal-footer .btn-primary {
  background-color: #262626bb;
  color: #fff;
}

.modal .modal-dialog .modal-content .modal-footer .btn-primary:hover {
  background-color: #222222;
}